.dark-mode {
    background-color: darken($moradoOscuro, 10);

    p {
        color: $blanco;
    }

    a, h1,h2,h3,h4  {
        color: $gris;
    }

    .anuncio, 
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }
        .icono {
            filter: invert(100%);
        }
    }
    

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]), 
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

    .propiedades{
        text-align: center;
        color: darken($verde, 5);
        cuerpo-tabla-propiedades
        
        th{
            color: darken($verde, 28);
        }
        th:nth-child(3){
            width: 20rem;
        }
        th:nth-child(2){
            width: 50rem;
        }
        .cuerpo-tabla-propiedades td:nth-child(even){
            color: lighten($morado, 18);
            // background-color: $grisOscuro;
        }
        .cuerpo-tabla-propiedades td:nth-child(1),
        .cuerpo-tabla-propiedades td:nth-child(2){
            color: $naranja;
        }

        .cuerpo-tabla-propiedades td:nth-child(3){
            .imagen-tabla{
                padding: 0;
                align-content: center;
                margin-top: 16px;

            }
        }
    }
}