.dark-mode {
    background-color: darken($moradoOscuro, 12);

    p {
        color: $blanco;
    }

    a, h1,h2,h3,h4  {
        color: $gris;
    }
    .main-crear{
        .btn-volver{
            color: #281030;
        }
        .btn-nueva-receta{
            color: #281030;
        }
    }

    .anuncio, 
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }
        .icono {
            filter: invert(100%);
        }
    }
    

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]), 
        textarea,
        select {
            background-color: $moradoSuave;
            border: 2px solid lighten($morado,15);
            color: $grisOscuro;
        }
        
    }

    .propiedades{
        .cuerpo-tabla-propiedades td:nth-child(1){
            color: lighten($naranja,17);
        }
        .cuerpo-tabla-propiedades td:nth-child(2){
            color: $moradoSuave;
        }
        .cabeza-form{
            background-color: $moradoOscuro;
            color: lighten($moradoOscuro, 45);
        }
    }
    .categorias{
        .cabeza-form{
            background-color: $moradoOscuro;
            color: lighten($moradoOscuro, 45);
        }
    }
}
.imagen-small{
    width: 50rem;
}


