.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}

.propiedades{
    text-align: center;
    color: darken($morado, 15);
    th:nth-child(1){
        width: 15rem;
    }
    th:nth-child(2){
        width: 50rem;
    }
    th:nth-child(3){
        width: 20rem;
    }
    th:nth-child(4){
        width: 7rem;
    }
    .cuerpo-tabla-propiedades td:nth-child(1),
    .cuerpo-tabla-propiedades td:nth-child(2){
        color: darken($morado,19);
        font-size: 15px;
        padding: 5px;
        line-height: 2.8rem;
    }
    .cuerpo-tabla-propiedades td:nth-child(1){
        font-weight: bold;
        color: darken($naranja,22);
    }
    .cuerpo-tabla-propiedades td:nth-child(3){
        .imagen-tabla{
            padding: 0;
            align-content: center;
            margin-top: 16px;
        }
    }
    .cabeza-form{
        background-color: $morado;
        color: darken($moradoOscuro, 35);
    }
}

.imagen-small{
    width: 50rem;
}

.seccion .btn-nueva-rece{
    margin: 0px 0px 10px 5px;
    max-width: 16rem;
}
.seccion-main .titulo-admin{
    font-family: $fuente_terciaria;
    color: lighten($morado,18);
    margin-right: 24rem;
}

