.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}

.propiedades{
    text-align: center;
    color: darken($verde, 5);
    th{
        color: darken($verde, 28);
    }
    th:nth-child(2){
        width: 50rem;
    }
    th:nth-child(3){
        width: 20rem;
    }
    .cuerpo-tabla-propiedades td:nth-child(even){
        color: lighten($morado, 18);
        // background-color: $grisOscuro;
    }
    .cuerpo-tabla-propiedades td:nth-child(1),
    .cuerpo-tabla-propiedades td:nth-child(2){
        color: $morado;
        font-size: 12px;
        padding: 5px;

    }

    .cuerpo-tabla-propiedades td:nth-child(3){
        .imagen-tabla{
            padding: 0;
            align-content: center;
            margin-top: 16px;

        }
    }
    .cabeza-form{
        background-color: $morado;
    }
    
}

.imagen-small{
    width: 50rem;
}

.seccion .btn-nueva-rece{
    margin: 0px 0px 10px 5px;
}
.seccion .titulo-admin{
    font-family: $fuente_secundaria;
    color: lighten($morado,18);
}


